.env
venv
dist
build
**/*.egg-info
**/__pycache__/*

# Sensitive Information:
# Ignore all csv files (data)
*.csv
# Ignore all h5 files (trained models)
*.h5

.aider.*
.idea

#Ignore all .key files (private keys) and credentials like .enc files (encrypted files)
*.key
*.enc

node_modules